@each $break-point in $break-points {
  @include breakpoint($break-point) {
    $break-point-name: get-break-point-name($break-point);

    .#{$break-point-name}justify-normal {
      justify-content: normal;
    }

    .#{$break-point-name}justify-start {
      justify-content: flex-start;
    }

    .#{$break-point-name}justify-end {
      justify-content: flex-end;
    }

    .#{$break-point-name}justify-center {
      justify-content: center;
    }

    .#{$break-point-name}justify-between {
      justify-content: space-between;
    }

    .#{$break-point-name}justify-around {
      justify-content: space-around;
    }

    .#{$break-point-name}justify-evenly {
      justify-content: space-evenly;
    }

    .#{$break-point-name}justify-stretch {
      justify-content: stretch;
    }
  }
}
