.bg-gradient-1.h-348.w-full 
  .container.h-288.grid.grid-cols-12.relative.sm_max-w-320.sm_grid-none.sm_flex.sm_justify-center
    button.w-40.h-40.rounded-full.bg-opacity-30.absolute.border-none.shadow-2.left-0-center.sm_left-10
      i.fa.fa-arrow-left.text-000.text-14
    button.w-40.h-40.rounded-full.bg-opacity-30.absolute.border-none.shadow-2.right-0-center.sm_right-10
      i.fa.fa-arrow-right.text-000.text-14
    .col-span-5
    .col-span-7.flex.flex-col.justify-center
      p.text-201f1e.text-16.uppercase.font-900 upto 60% off
      p.mt-12.h-18.w-108.bg-fa4f91.text-fff.text-11.px-6.sm_mt-8.leading-inherit Man’s Watches
      p.mt-16.text-fff.text-38.font-800.uppercase.sm_text-30 Weekend
      p.mt-10.text-fff.text-54.font-600.uppercase.sm_text-38 Special Sale
      button.mt-16.bg-f0ff00.w-136.h-36.flex.items-center.justify-center.border-none.rounded.cursor-pointer
        span.uppercase.text-12.font-700 SHOP NOW
  .container.h-60
    