.container.flex.relative.-top-60.sm_flex-col.sm_gap-y-20
  .w-270.h-378.shadow.bg-fff.flex.flex-col.items-center.justify-center.lg_w-206.sm_w-full
    p.text-30.font-200.text-676970 Latest
    p.text-30.font-200.text-676970 Products
    button.mt-36.bg-19c144.w-86.h-26.flex.items-center.justify-center.border-none.rounded.cursor-pointer
      span.text-11.text-fff View More
  .flex-1.grid.grid-cols-3.relative.sm_grid-none.sm_flex.sm_flex-col.sm_gap-y-20
    button.w-40.h-40.rounded-full.bg-fff.absolute.border-none.shadow-1.left-0-center.sm_hidden
      i.fa.fa-arrow-left.text-000.text-14
    button.w-40.h-40.rounded-full.bg-fff.absolute.border-none.shadow-1.right-0-center.sm_hidden
      i.fa.fa-arrow-right.text-000.text-14
    .col-span-1.shadow.bg-fff.py-26.pl-46.pr-26.flex.flex-col.sm_h-378
      .flex-1
      span.text-19c144.text-11.font-300 Furniture
      p.mt-12.text-14.text-676970.font-300.max-w-206 Modern Plastic Armchair Rocker
      .flex.gap-2.mt-12
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-e0e0e0
        i.fa.fa-star.text-11.text-e0e0e0  
      p.mt-20.text-14.text-3f4042.font-700 $199
    .col-span-1.shadow.bg-fff.py-26.pl-46.pr-26.flex.flex-col.sm_h-378 
      .flex-1
      span.text-19c144.text-11.font-300 Furniture
      p.mt-12.text-14.text-676970.font-300.max-w-206 Modern Plastic Armchair Rocker
      .flex.gap-2.mt-12
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-e0e0e0
        i.fa.fa-star.text-11.text-e0e0e0  
      p.mt-20.text-14.text-3f4042.font-700 $199
    .col-span-1.shadow.bg-fff.py-26.pl-46.pr-26.flex.flex-col.sm_h-378 
      .flex-1
      span.text-19c144.text-11.font-300 Furniture
      p.mt-12.text-14.text-676970.font-300.max-w-206 Modern Plastic Armchair Rocker
      .flex.gap-2.mt-12
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-e0e0e0
        i.fa.fa-star.text-11.text-e0e0e0  
      p.mt-20.text-14.text-3f4042.font-700 $199

//- ===
.container.flex.mt-60.sm_flex-col.sm_gap-y-20
  .w-270.h-378.shadow.bg-ffd9e3.flex.flex-col.items-center.justify-center.lg_w-206.sm_w-full
    p.text-30.font-200.text-676970 Deals of
    p.text-30.font-200.text-676970 the Day
    button.mt-36.bg-19c144.w-86.h-26.flex.items-center.justify-center.border-none.rounded.cursor-pointer
      span.text-11.text-fff See all Deals
  .flex-1.grid.grid-cols-3.relative.sm_grid-none.sm_flex.sm_flex-col.sm_gap-y-20
    button.w-40.h-40.rounded-full.bg-fff.absolute.border-none.shadow-1.left-0-center.sm_hidden
      i.fa.fa-arrow-left.text-000.text-14
    button.w-40.h-40.rounded-full.bg-fff.absolute.border-none.shadow-1.right-0-center.sm_hidden
      i.fa.fa-arrow-right.text-000.text-14
    .col-span-1.shadow.bg-fff.py-26.pl-46.pr-26.flex.flex-col.sm_h-378 
      .flex-1
      span.text-19c144.text-11.font-300 Furniture
      p.mt-12.text-14.text-676970.font-300.max-w-206 Modern Plastic Armchair Rocker
      .flex.gap-2.mt-12
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-e0e0e0
        i.fa.fa-star.text-11.text-e0e0e0  
      p.mt-20.text-14.text-3f4042.font-700 $199
    .col-span-1.shadow.bg-fff.py-26.pl-46.pr-26.flex.flex-col.sm_h-378 
      .flex-1
      span.text-19c144.text-11.font-300 Furniture
      p.mt-12.text-14.text-676970.font-300.max-w-206 Modern Plastic Armchair Rocker
      .flex.gap-2.mt-12
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-e0e0e0
        i.fa.fa-star.text-11.text-e0e0e0  
      p.mt-20.text-14.text-3f4042.font-700 $199
    .col-span-1.shadow.bg-fff.py-26.pl-46.pr-26.flex.flex-col.sm_h-378 
      .flex-1
      span.text-19c144.text-11.font-300 Furniture
      p.mt-12.text-14.text-676970.font-300.max-w-206 Modern Plastic Armchair Rocker
      .flex.gap-2.mt-12
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-ffba00
        i.fa.fa-star.text-11.text-e0e0e0
        i.fa.fa-star.text-11.text-e0e0e0  
      p.mt-20.text-14.text-3f4042.font-700 $199