.bg-gradient.w-full
  .border-b-solid-382ec1
    .container.h-36.flex.items-center.justify-between
      .flex.gap-12
        .a(href='//google.com').text-11.text-aea2db World's Fastest Online Shopping Hub       
        .a(href='//google.com').text-11.text-aea2db 
          i.fa.fa-phone.rotate-90
          span.ml-4.sm_hidden Hotline 
          span.ml-2 1.800.123.456789
      .flex.gap-24.lg_gap-16.sm_hidden
        .a(href='//google.com').text-11.text-aea2db  Advertise
        .a(href='//google.com').text-11.text-aea2db  Gift Card
        .a(href='//google.com').text-11.text-aea2db  Todays Deal
        .a(href='//google.com').text-11.text-aea2db  Help
        .a(href='//google.com').text-11.text-aea2db  Store Location
        .a(href='//google.com').text-11.text-aea2db  Track Your Order
        .a(href='//google.com').text-11.text-aea2db  
          i.fa.fa-image 
          span.mx-4 English
          i.fa.fa-caret-down.font-900
  .container.flex.items-center.h-80.sm_h-64
    .flex.items-center
      i.fa.fa-image.text-fff
      span.text-16.text-fff.font-900.uppercase.ml-8.sm_hidden ZORRO
    i.fa.fal.fa-bars.text-fff.ml-16
    input.flex-1.w-full.h-44.rounded.border-none.px-10.ml-24.sm_h-36.sm_ml-20
    i.fa.fal.fa-heart.text-fff.ml-44.sm_ml-20
    i.fa.fal.fa-user.text-fff.ml-24.sm_ml-20
    span.text-fff.text-11.uppercase.ml-8.sm_hidden sign in
.container.flex.h-34.items-center
  .p.uppercase.text-11.text-3f4042.font-700 Search By CATEGORY
  i.fa.fa-arrow-right.mx-12.text-8.text-3f4042
  ul.flex.items-center.h-full.justify-between.flex-1
    li.flex.items-center.gap-4.cursor-pointer
      span.text-11.text-3f4042 Appliances
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer
      span.text-11.text-3f4042 Electronics
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Mobile
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Computer
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Books
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Home & Kitchen
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Man
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Woman
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Kids
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Beauty
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Sports
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer.sm_hidden
      span.text-11.text-3f4042 Fitness
      i.fa.fa-caret-down.font-900.text-3f4042.text-10
    li.flex.items-center.gap-4.cursor-pointer
      i.fa.fa-ellipsis-h.text-3f4042.text-11
